.es-0 {
    background-color: #458588;
}

.es-1 {
    background-color: #83a598;
}

.es-2 {
    background-color: #689d6a;
}

.es-3 {
    background-color: #8ec07c;
}

.es-4 {
    background-color: #98971a;
}

.es-5 {
    background-color: #b8bb26;
}

.es-6 {
    background-color: #fabd2f;
}

.es-7 {
    background-color: #fe8019;
}

.es-8 {
    background-color: #d65d0e;
}

.es-9 {
    background-color: #fb4934;
}

.es-10 {
    background-color: #cc241d;
}

.es-no {
    background-color: #bdae93;
}

.es-table-0 {
    color: #458588;
}

.es-table-1 {
    color: #83a598;
}

.es-table-2 {
    color: #689d6a;
}

.es-table-3 {
    color: #8ec07c;
}

.es-table-4 {
    color: #98971a;
}

.es-table-5 {
    color: #b8bb26;
}

.es-table-6 {
    color: #fabd2f;
}

.es-table-7 {
    color: #fe8019;
}

.es-table-8 {
    color: #d65d0e;
}

.es-table-9 {
    color: #fb4934;
}

.es-table-10 {
    color: #cc241d;
}

.es-table-no {
    color: #bdae93;
}